*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

#root{
    width: 100%;
    height: 100vh;
}

#main{
    display: flex;
    flex-direction: row;
    height: 100%;
}

#create-post{
    display: flex;
    flex-direction: column; 
    gap:10px;
    padding: 10px 30px;
    min-height: 100vh;
    width: 100%;
    overflow: scroll;
}

#content{
    padding:10px;
}

#sidenav{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    background-color: #222831;
    color: #f2f2f2;
    min-width: 20%;
    min-height: 100vh;
}

#sidenav ul{
    width: 100%;
}

#sidenav li {
    list-style: none;
    min-width: 100%;
    padding:10px 0;

}

#sidenav li a{
    text-decoration:none;
    color:#f2f2f2;
    padding: 0 1em;
    min-width: none;
    display: flex;
    align-items: center;

}

#sidenav li:hover{
    background-color: #393e46;
}

#publish-btn{
    background-color: #0468BF;
    border: 1px solid #0468BF;
    border-radius: 2px;
    color:#f2f2f2;
    padding:10px;
    font-size: 16px;
    align-self: flex-start;
}

#publish-btn:hover{
    background-color: #0477BF;
    cursor: pointer ;
}

.card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 30%;
    gap: 10px;
    border-radius: 2px;
}

.card-image{
    width: 100%;
    height: 150px;
    background-color: #222831;
    border-radius: 2px 2px 0px 0px; 
}

.card-title, .card-content{
    padding:5px;
}

.card-btn-read-more{
    padding:5px;
    margin: 5px;
    align-self: flex-end;
    background-color: #0468BF;
    border: 1px solid #0468BF;
    color: #f2f2f2;
    border-radius: 2px;
}

.card-btn-read-more:hover{
    background-color: #0477BF;
    cursor: pointer ;
}

#posts{
    padding: 30px;
    display: flex;
    gap: 30px 50px;
    flex-wrap: wrap;
    overflow: scroll;
    flex-grow: 1;
}

#input-title {
    padding:10px;
}

.card-btn-delete{
    padding:5px;
    margin: 5px;
    align-self: flex-end;
    background-color: #b2bdc7;
    border: 1px solid #b2bdc7;
    color: #9b2c2c;
    border-radius: 2px;
}

.card-btn-delete:hover{
    background-color: #9b2c2c;
    border: 1px solid #9b2c2c;
    color: #ffffff;
    cursor: pointer;
}

.card-btn-wrapper{
    display: flex;
    justify-content: space-between;
}